@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: clamp(3rem, 0.5rem + 8vw, 4rem);
}

h2 {
  color: #fff;
  font-weight: 800;
  font-size: 1.3rem;
  font-family: "Quicksand", sans-serif;
}

h3 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

p {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

li {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
}
